/application/config/database.php

/application/config/constants.php
/m/application/config/database.php

/m/application/config/constants.php

/admin/application/config/database.php

/admin/application/config/constants.php

/socket
/upload
/m/upload