.lead_qw{
    font-size: 15px;
    line-height: 10px
}

#mnu-category{
    background: #fff   
}

#mnu-category li>a{
    color: #000 !important;
    padding:4px 20px;
}

#mnu-category li>a:hover,#mnu-category li>a:focus{
    background-color: #fff;
    color: #2083a5 !important
}

#txt-search{
    border-color: #2083a5;
    border-radius: 0px;
    border-width: 2px;
    border-left: none;
    border-right: none;
}

.toggle-search{
    border-color: #2083a5;
    border-width: 2px;
    border-right-color: #ddd;
}

#btn-search{
    border-left: none;
    border-color: #2083a5;
    border-width: 2px;
}


.caret{
    position: absolute;
    right: 15px;
    top: 20px;
}

#subRight{
    padding: 0
}

.filer_products_favor li a{
    padding : 10px 25px;
    font-size: 18px
}

.ico_span {
    position: absolute;
    font-size: 9px;
    height: 16px;
    width: 31px;
    border-radius: 8.5px;
    right: 22px;
    top: -1px;
}

.rocket-delivery a:hover{
    background-color: transparent !important;
}

.rocket-delivery:first-child a{
    padding-left: 10px
}

.filer_products_favor{
    margin-top: 14px;
    padding-left: 28px;
}
.breadcrumb {
    margin-bottom: 5px;
}


.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #00c6db;
    border: 1px solid #00c6db
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #00c6db;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}


#header_search{
    float: left;
    margin-left: 38px
}

#header_search .input-group{
    width: 740px;
}

.toggle-search{
    width: 157px;
}



#btn-search,#txt-search,.toggle-search{
    height: 45px;
    line-height: 2
}

.product-other-images img {
    width: 58px;
    height: auto;
    margin: 0 12px 12px 0;
}

#carousel-products .item img{
	width: 425px;
	height: 425px;
}

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}
.rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title{
	font-size: 18px;
    margin-top: 10px
}

.renewal-header{
    position: relative;
    width: 1139px;
    height: 129px;
    margin: 0 auto;
    background: #fff;
    z-index: 100;
    margin-top: 5px
}

.category-btn {
    position: absolute;
    width: 110px;
    height: 115px;
    top: 10px;
    left: 0;
    margin-right: 30px;
    background-position: 0 0;
    text-align: center;

}



.category-btn{
    background-image: url(/assets/images/pc_header.png);
    background-repeat: no-repeat;
}


.category-btn>a {
    display: block;
    margin-top: 73px;
    color: #fff;
    font-size: 13px;
}



.none {
    display: block;
    text-indent: -9em;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
}

.category-layer .shopping-menu-list {
    padding: 8px 0 5px 0;
    border-bottom: #ddd solid 1px;
}

.category-layer li {
    height: 29px;
}


.category-layer .menu>li>a {
    position: relative;
    width: 163px;
    padding: 9px 0 0 10px;
    white-space: nowrap;
}

.category-layer a {
    display: inline-block;
    height: 20px;
    color: #333;
    font-size: 12px;
}


.category-layer .depth {
    height: 100%;
    min-height: 450px;
    background-image: none;
    background-color: #fff;
    margin: -1px 0 0 0;
    padding-right: 0;
    border: 1px solid #ddd;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    left: 163px;
     display: none; 
    position: absolute;
    z-index: 2;
    top: 0;
}

.direct-icon{
    position: absolute;
    width: 5px;
    height: 9px;
    right: 9px;
    top: 11px;
    display: none;
    font-size: 20px;
    color: #2083a5
}


.category-layer .depth-list .gnb-banner, .category-layer .depth-list .gnb-banner>a {
    position: absolute;
    overflow: hidden;
    width: 591px;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -9em;
    background: rgba(255,255,255,0);
}

.category-layer .depth-list img {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: none;
}

.category-layer .depth-list li {
    width: 157px;
    height: 28px;
    overflow: hidden;
}

.category-layer .depth-list ul {
    height: 100%;
    border: none;
    padding-top: 12px;
    position: absolute;
    z-index: 2;
}

.category-layer {
    position: absolute;
    width: auto;
    height: auto;
    min-height: 450px;
    top: 114px;
    left: 0;
     display: none; 
    border: 1px solid #ddd;
    box-shadow: -1px 4px 5px rgba(0,0,0,0.3);
    z-index: 1;
    background: #fff;
    text-align: left;
}

ul.Menu.-vertical{
    height: 100%
}

.category-layer .gnb-banner, .category-layer .gnb-banner>a {
    position: absolute;
    overflow: hidden;
    width: 851px;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -9em;
    background: rgba(255,255,255,0);
    z-index: -1;
    border: 1px solid #ddd;
    box-shadow: -1px 4px 5px rgba(0,0,0,0.3);
}

ul.Menu.-vertical{
    border: 1px 1px 1px 1px solid #ddd;
    box-shadow: -1px 4px 5px rgba(0,0,0,0.3);    
}

.category-layer img {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: none;
}

.category-layer .icon{
    display: inline-block;
}

.Menu {
    display: none;
    position: relative;
}
    /* Three basic menu layouts */
    /* This also enforces that menu is a ul, and that
     * layout modifier is specified
     */
    ul.Menu.-horizontal,
    ul.Menu.-vertical {
        display: inline-block;
    }
    ul.Menu.-floating {
        display: block;
        position: absolute;
    }

    /* Menu and menu-item layout */
    .Menu,
    .Menu li,
    .Menu li > ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .Menu li {
        display: block;
        white-space: nowrap;
        word-break: keep-all;
        height: 29px;
    }

    .Menu.-horizontal > li {
        display: inline-block;
        float: left;
    }
    .Menu li > * {
        position: relative;
    }
    .Menu li > ul {
        position: absolute;
        min-width: 100%;
        top: 0px;
        left: 100%;
    }
    .Menu.-horizontal.-alignRight li > ul {
        left: auto;
        right: 100%;
    }
    .Menu.-horizontal.-alignRight > li > ul {
        right: 0px;
    }
    .Menu.-horizontal > li > ul {
        top: auto;
        left: auto;
    }

    /* Menu behaviour */
    .Menu li > ul,
    .Menu.-floating {
        display: none;
    }
    .Menu li > ul.-visible,
    ul.Menu.-floating.-visible {
        display: block;
    }

    /* Menu animation */
    .Menu li > ul,
    .Menu.-horizontal.-alignRight li > ul,
    .Menu.-floating {
        opacity: 1;
        transform: scale(1) translateY(0px);
        transform-origin: left top;
    }
    .Menu.-alignRight li > ul,
    .Menu.-floating.-alignRight {
        transform-origin: right top;
    }
    .Menu li > ul.-animating,
    .Menu.-floating.-animating {
        opacity: 0 !important;
        transform: scale(0.96) translateX(-16px);
    }
    .Menu li > ul.-animating {
        z-index: -1 !important;
    }
    .Menu.-horizontal > li > ul.-animating {
        transform: scale(0.96) translateY(-16px);
    }
    .Menu.-alignRight li > ul.-animating,
    .Menu.-floating.-alignRight.-animating {
        transform: scale(0.96) translateX(16px);
    }
    .Menu.-horizontal.-alignRight > li > ul.-animating {
        transform: scale(0.96) translateY(-16px);
    }

    /* Menu item icons */
    .Menu *[data-icon]:before {
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        margin: auto 0px;
    }
    .Menu .Icon,
    .Menu *[data-icon]:before {
        line-height: inherit;
    }
    .Menu .Icon {
        padding: 0px;
    }
    .Menu *:empty[data-icon] {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /* Submenu chevrons */
    .Menu li.-hasSubmenu > a:after {
        display: block;
        position: absolute;

        width: 6px;
        height: 6px;
        right: 8px;
        bottom: 0px;
        top: 0px;
        margin: auto 0px;
        transform: rotate(45deg);
        border-width: 1px;
        border-color: black;
        border-style: solid solid none none;

        content: "";
    }
    .Menu.-horizontal > li.-hasSubmenu > a:after {
        width: 4px;
        height: 4px;
        bottom: 4px;
        top: auto;
        left: 0px;
        right: 0px;
        margin: 0px auto;

        border-style: none solid solid none;
    }
    .Menu li.-hasSubmenu.-noChevron > a:after {
        display: none;
    }


    /* Default font settings for menu */
    .Menu {
        font-family: Arial, Helvetica, Sans;
        font-size: 12px;
    }

    /* Icon font sizes */
    .Menu *[data-icon]:before,
    .Menu .Icon {
        font-size: 24px;
    }
    /* For submenus */
    .Menu > li ul .Icon,
    .Menu.-floating .Icon,
    .Menu > li ul *[data-icon]:before,
    .Menu.-floating *[data-icon]:before,
    {
        font-size: 18px;
    }

    /* Colouring of menus */
    /* Foreground */
    .Menu,
    .Menu li.-hasSubmenu > a:after {
        color: black;
        border-color: black; /* chevron colour */
    }
    /* Background */
    .Menu ul,
    .Menu.-floating {
        background: white;
    }

    /* Padding for each menu item */
    .Menu li > * {
        padding: 0px 12px;
    }
    /* Indent of chevron */
    .Menu li li.-hasSubmenu > a:after,
    .Menu:not(.-horizontal) > li.-hasSubmenu > a:after {
        right: 12px;
    }
    .Menu li li.-hasSubmenu > a,
    .Menu:not(.-horizontal) > li.-hasSubmenu > a {
        padding-right: 28px;
    }

    /* Minimum width of dropdown menus */
    .Menu.-horizontal li > ul,
    .Menu.-floating {
        min-width: 200px;
    }

    /* Animation speed of dropdown menus */
    .Menu li > ul,
    .Menu.-floating {
        transition: width 0.1s, height 0.1s, transform 0.1s, opacity 0.1s;
    }

    /* Styling of hyperlink text */
    .Menu li > a {
        text-decoration: none;
        color: inherit;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        min-width: 116px;
    }

    /* Animation speed of :hover shading */
    .Menu li > a:first-child {
        transition: background-color 0.2s;
    }

    /* Colour of :hover shading */
    .Menu li:hover > a,
    .Menu li.-active > a,
    .Menu li:hover > a:after,
    .Menu li.-active > a:after
     {
        color: #2083a5;
    }

.category-layer .-visible {
    height: 100%;
    border-left: 1px solid #ddd;
    position: absolute;
    z-index: 2;
    top: 1px
}


.Menu {
    color: black;
}
/* Foreground */
.Menu,
.Menu li.-hasSubmenu > a:after {
    color: black;
    border-color: black; /* chevron colour */
}

/* Background */
.Menu,
.Menu li ul {
    background: white;
     box-shadow: none;
}

.category-layer ul{
    padding-top: 15px !important;
}
.Menu li ul,
.Menu.-floating {
    border-radius: 3px;
}
.Menu.-horizontal > li > ul {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.Menu:not(.-alignRight) li > ul,
.Menu.-floating:not(.-alignRight) {
    border-top-left-radius: 0px;
}
.Menu.-alignRight li > ul,
.Menu.-floating.-alignRight {
    border-top-right-radius: 0px;
}

.gnb-banner{
    display: none;
}

.Menu li.-active > .gnb-banner{
    display: block;
}


.renewal-header  section {
    position: absolute;
    width: 960px;
    height: 91px;
    margin: 20px 0 0 120px;
}

.renewal-header .icon-menus {
    display: block;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.renewal-header .icon-menus .my-coupang {
    position: relative;
    margin-right: 23px;
    width: 57px;
    height: 52px;
    margin-left: 55px;
}

.renewal-header .icon-menus li {
    float: left;
    text-align: center;
}

.renewal-header .my-coupang-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

.renewal-header .my-coupang-icon {
    background-image: url(/assets/images/shopping_cart.png);
    background-repeat: no-repeat;
}

.renewal-header .cart-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    background-image: url(/assets/images/shopping_favor.png);
    background-repeat: no-repeat;
}

.renewal-header #headerCartCount {
    position: absolute;
    /* width: 19px; */
    /* height: 19px; */
    top: -4px;
    right: 1px;
    /* margin: -5px 0 0 4px; */
    color: #fff;
    text-align: center;
    line-height: 19px;
    letter-spacing: -1px;
    font: bold 10px Tahoma;
    background: #2083a5;
    border-radius: 50%;
    /* padding-top: 3px; */
    padding: 4px 8px;
}

.item_list .li {
    list-style: none;
    float: left;
    margin-bottom: 20px;
    overflow: hidden;
    width: 20%
}

.c-list-rec li {
    width: 20%;
    margin: 0;
}

.item_list .item_box {
    float: left;
    /* margin: 30px 0px 30px 0px; */
    width: 100%;
    position: relative;
    overflow: hidden;
}

.item_box_5 .item_box {
    margin-left: 10px;
    margin-right: 10px;
}

.item_list .item_box .upper_link {
    z-index: 2;
}

.item_list .item_box .item_thumb {
    position: relative;
    overflow: hidden;
}

.item_list .item_box .item_thumb img {
    float: left;
    width: 100%;
}

.details {
    text-align: left;
    border-top: 3px solid black;
    margin-top: 10px;
}



.item_list .soldout {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(/assets/images/bg_soldout.png) left top repeat;
    z-index: 1
}

.item_list .soldout img {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 50px 0 0 -70px;
}

.easy-autocomplete-container{
    left: 157px;
    width: 591px;
    top: 46px;
}

.easy-autocomplete{
    margin-left: 149px;
    width: 560px !important;
    position: initial;
}


.cm_shop_title {font-weight:600; letter-spacing:-2px; font-size:17px; border-bottom:2px solid #707070; padding-bottom:10px; position:relative; color:#333; margin-top:50px;}
.cm_order_form {background:#fbfbfb;}
.cm_order_form ul {overflow:hidden;}
.cm_order_form li {list-style:none; position:relative; border-bottom:1px solid #dedede; width:100%; clear:both}
.cm_order_form .double {float:left; width:50%; clear:none}
.cm_order_form .value {margin-left:145px; background:#fff; border-left:1px solid #dedede; padding:12px; line-height:18px; letter-spacing:0px; overflow:hidden; min-height:10px}
.cm_order_form .opt {position:absolute; left:15px; top:50%; margin-top:-15px; font-weight:600; color:#333; height:34px; line-height:34px; background:transparent url('/assets/images/member_form_bullet.png') left center no-repeat; padding-left:15px}
.cm_order_form .ess .opt {background-image:url('/assets/images/member_form_bullet2.png')}
.cm_order_form label {padding:0 15px; border-radius:30px; border:1px solid #ddd; height:33px; line-height:33px; line-height:36px\0; float:left; margin-right:5px;}
.cm_order_form label:hover {color:#ff0000; border:1px solid #999}
.cm_order_form label input {margin:10px 5px 0 0}

.border-none th,.border-none td,.border-none tr{
    border: none !important
}

