.event_list .event_info h4 {
    margin: 7px 0 16px;
    font-weight: bold;
    color: #3498c9;
    font-size: 15px;
}
.event_list .event_info .date {
    width: auto;
    margin-top: 10px;
    color: #ea5280;
}
.event_list .event_info .txt {
    margin-bottom: 5px;
    color: #727272;
    line-height: 14px;
}