@font-face {
    font-family: 's-core-dream-thin';
    src: url("SCDream1.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-extralight';
    src: url("SCDream2.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-light';
   src: url("SCDream3.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-regular';
    src: url("SCDream4.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-medium';
    src: url("SCDream5.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-bold';
    src: url("SCDream6.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-extrabold';
    src: url("SCDream7.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-heavy';
    src: url("SCDream8.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-black';
    src: url("SCDream9.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}